.Clock-cont-info {
    background-color: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    padding: 1.5rem;

    & h2 {
        font-size: 4rem;
    }

    & span {
        letter-spacing: 3px;
        font-size: 10px;
    }

    @media screen and (width > 768px) {
        & {
            padding: 3rem;
        }
    }
}