.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}


/* Tamanhos */
.w-full {
    width: 100%;
}

.w-1\/2 {
    width: 50%;
}

.min-h-screen {
    min-height: 100vh;
}

.font-bold {
    font-weight: bold;
}

.text-white {
    color: #fff;
}

.text-2 {
    font-size: 2rem;
}

.gap-2 {
    gap: 2rem;
}
